.Card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.Card-img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.Card-name {
  font-size: 1.8rem;
}

@media screen and (min-width: 374.98px) {
  .Card-name {
    font-size: 2rem;
  }
}

@media screen and (min-width: 767.98px) {
  .Card-name {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1023.98px) {
  .Card-name {
    font-size: 3rem;
  }
}
