.Instructions {
  width: 80%;
  margin: 12rem auto 0;
  max-width: 350px;
}

.Instructions-title {
  margin-bottom: 1rem;
  text-align: center;
}

.Instructions-para {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 767.98px) {
  .Instructions {
    font-size: 2rem;
  }
  .Instructions-title {
    margin-bottom: 2.25rem;
  }
  .Instructions-para {
    margin-bottom: 1.5rem;
  }
}
